body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  margin: auto;
  width: 800px;
}

a {
  margin: auto;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

#details{
  display: block;
}

#details div{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%
}